@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cal-sans;
  src: url("./assets/fonts/CalSans-SemiBold.ttf");
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Cal-sans, sans-serif;
  }
  body {
    font-family: Nunito, sans-serif;
  }
  svg {
    @apply size-4 sm:size-5;
  }

  ::selection {
    @apply bg-primary text-white;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full transition-all;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-600;
  }
}
